<input type="button" value="Time In" ng-click="timeIn()">
<input type="button" value="Time Out" ng-click="timeOut()">
<div ng-model="eventSources" ui-calendar="uiConfig.calendar" style="width: 60%;overflow-y: hidden;"></div>